.about {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto 20%;
    gap: 30px;

    &__description {
        display: flex;
        position: relative;
        flex-direction: row;

        @media screen and(max-width: 767px) {
            flex-direction: column;
        }
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__paragraph {
        transition: opacity 0.6s 0.3s ease;
        opacity: 0;
        border-left: 1px solid green;
        padding-left: 5px;

        &_show_on {
            opacity: 1;
        }

        &:hover {
            cursor: default;
            color: $color-green;
        }
    }
}

.avatar {
    position: relative;
    display: flex;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    margin: auto 1.25rem;
    box-sizing: border-box;
    filter: grayscale(1);
    transition: filter 0.3s ease;
    flex-shrink: 0;

    &:hover {
        filter: grayscale(0.2);
    }

    @media screen and(max-width: 767px) {
        margin: 0 auto;
    }
}

.skill {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &__items {
        text-align: right;
    }
}
