.header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: $header-height;
    justify-content: space-around;
    align-items: center;
    background-color: var(--colorBackground);
    transition: color, background-color, 0.6s ease;
    z-index: 500;
    border-bottom: 1px solid var(--colorBorder);

    &__nav {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    &__point {
        position: relative;
        display: flex;
        gap: 10px;
        flex-direction: row;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 100;
        color: var(--colorText);

        text-decoration: none;
        height: min-content;

        &:hover,
        &:hover * {
            cursor: pointer;
            transition: all 0.3s ease;
            color: var(--colorPrimary);
        }

        &_active_on {
            text-decoration: underline;
            &:hover,
            &:hover * {
                cursor: default;
                color: var(--colorText);
            }
        }

        &:first-child {
            margin-right: 5rem;
            @media screen and(max-width: 768px) {
                margin-right: 1rem;
            }
        }
    }

    &__text {
        display: flex;
        @media screen and(max-width: 480px) {
            display: none;
        }
        @media screen and(max-width: 768px) {
            font-size: 0.875rem;
        }
    }
}

.cv {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    border-radius: 50%;
    border: 1px solid;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-weight: bold;
    padding: 0.1rem;
    width: 2.4rem;
    height: 2.4rem;
    justify-content: center;
    color: $color-green;
    transition: all 0.3s ease;
    &:hover {
        border-color: $color-green;
        background-color: $color-green;
        color: var(--colorBackground);
    }

    @media screen and(max-width: 768px) {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
}
