.project {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--colorText);
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    color: var(--colorText);
    width: 300px;
    height: 300px;
    padding: .5rem;

    &:hover {
        border-color: $color-green;
    }

    &__stacks {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 5px;
        list-style: none;
        padding: 0;
    }

    &__stack {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: .875rem;
        gap: 10px;
    }
}
