html {
    font-size: 16px;
    scroll-behavior: smooth;

    @media screen and(max-width: 767px) {
        font-size: 14px;
    }

    @media screen and(max-width: 480px) {
        font-size: 12px;
    }
}

body {
    background-color: var(--colorBackground);
    color: var(--colorText);
    transition: color, background-color, 0.6s ease;
    font-family: "Roboto";
}

::selection {
    background: $color-green;
    color: var(--colorText);
}

.page {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px 2px 5px;
    gap: $block-gap;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    box-sizing: border-box;
    max-width: 1200px;
}

.border {
    position: block;
    display: flex;
    padding: 10px;
    box-sizing: border-box;

    &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        height: 12%;
        background-color: transparent;
        border-bottom: 1px solid var(--colorBorder);
        border-left: 1px solid var(--colorBorder);
        border-right: 1px solid var(--colorBorder);
        border-radius: 2px;
        transition: color, 0.6s ease;
    }
}

.anchor {
    position: absolute;
    width: 5px;
    height: 0px;
    top: calc(0px - #{$block-gap} - #{$header-height} + 2px);

    left: 0;
}

.row {
    display: flex;
    position: relative;
    flex-direction: row;
}

.column {
    display: flex;
    position: relative;
    flex-direction: column;
}

.content-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - #{$header-height} - 2 * #{$block-gap});
    flex-grow: 1;

    &:last-child {
        min-height: fit-content;
    }
}

.text {
    font-size: 1rem;
}

.title {
    font-size: 3rem;
    margin: 0;
    line-height: 3.1rem;

    &_type_block {
        line-height: 1.6;
        font-size: 1.4rem;
        font-weight: normal;
        margin: 3px;
        color: $color-green;
    }
}

.subtitle {
    font-size: 1.5rem;
    &_type_block {
        line-height: 1.4;
        font-size: 1.2rem;
        font-weight: normal;
        margin: 3px;
    }
}

.color-primary {
    color: $color-green;
}
