html {
    font-size: 16px;
    scroll-behavior: smooth;

    @media screen and(max-width: 767px) {
        font-size: 14px;
    }

    @media screen and(max-width: 480px) {
        font-size: 12px;
    }
}

body {
    background-color: var(--colorBackground);
    color: var(--colorText);
    transition: color, background-color, 0.6s ease;
    font-family: "Roboto";
}

// .border {
//     border: 1px solid var(--colorBorder);
//     border-radius: 2px;

// }

.page {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px 2px 5px;
    gap: $block-gap;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    
    box-sizing: border-box;
    max-width: 1200px;
}

.border {
    position: block;
    display: flex;
    padding: 10px;
    box-sizing: border-box;

    &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        right: 0;
        height: 12%;
        background-color: transparent;
        border-bottom: 1px solid var(--colorBorder);
        border-left: 1px solid var(--colorBorder);
        border-right: 1px solid var(--colorBorder);
        border-radius: 2px;
        transition: color, 0.6s ease;
    }
}

.anchor {
    position: absolute;
    width: 5px;
    height: 0px;
    top: calc(0px - #{$block-gap} - #{$header-height} + 2px);

    left: 0;
}

.header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: var(--header);
    justify-content: space-around;
    background-color: var(--colorBackground);
    transition: color, background-color, 0.6s ease;
    z-index: 500;

    &__nav {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    &__point {
        position: relative;
        display: flex;
        gap: 10px;
        flex-direction: row;
        font-size: 1.2rem;
        font-weight: 100;
        color: var(--colorText);

        text-decoration: none;
        height: min-content;

        &:hover,
        &:hover * {
            cursor: pointer;
            transition: all 0.3s ease;
            color: var(--colorPrimary);
        }

        &_active_on {
            text-decoration: underline;
            &:hover,
            &:hover * {
                cursor: default;
                color: var(--colorText);
            }
        }

        &:first-child {
            margin-right: 5rem;
        }
    }
}

.footer {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}

.mail {
    letter-spacing: 0.15rem;
    text-decoration: none;
    color: var(--colorText);
    transition: color 0.3s ease;
    &:hover {
        color: var(--colorPrimary);
        cursor: pointer;
    }
}

.content-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - #{$header-height} - 2 * #{$block-gap});
    flex-grow: 1;

    &:last-child {
        min-height: fit-content;
    }
}

.text {
    font-size: 1rem;
}

.title {
    font-size: 3rem;
    margin: 0;
    line-height: 3.1rem;
}

.subtitle {
    font-size: 1.5rem;
}

.me {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin: auto 20% auto 0;

    &__slogan {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.5rem;
        gap: 5px;
    }

    &__line {

    }
}


.color-primary {
    color: $color-green;
}

.underline {
    text-decoration: underline;
    text-decoration-color: $color-green;
}