@import '../../scss/variables';

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - #{$header-height} - 2 * #{$block-gap});
    flex-grow: 1;

    &:last-child{
        min-height: fit-content;
    }
}